<template>
  <div id="color">
    <div class="container">

      <div class="color-block" :style="{ backgroundColor: `rgb(${redValue}, ${greenValue}, ${blueValue})`}">
        <p class="color-text" :style="{color: `rgb(${textColor * 255}, ${textColor * 255}, ${textColor * 255})`}">{{ text }}</p>
      </div>

      <ul class="selector">
        <li class="selector__item  selector__item--red">
          <label for="red-range">
            Red
            <vue-slider v-bind="sliderStyle" v-model="redValue"></vue-slider>
          </label>
          <input v-model="redValue"
                id="red-input"
                type="number"
                min="0"
                max="255">
        </li>
        <li class="selector__item  selector__item--green">
          <label for="green-range">
            Green
           <vue-slider v-bind="sliderStyle" v-model="greenValue"></vue-slider>
          </label>
          <input v-model="greenValue"
                id="green-input"
                type="number"
                min="0"
                max="255">
        </li>
        <li class="selector__item  selector__item--blue">
          <label for="blue-range">
            Blue
            <vue-slider v-bind="sliderStyle" v-model="blueValue"></vue-slider>
          </label>
          <input v-model="blueValue"
                id="green-input"
                type="number"
                min="0"
                max="255">
        </li>
      </ul>

    </div>
  </div>
</template>

<script>
// https://github.com/NightCatSama/vue-slider-component
import vueSlider from 'vue-slider-component'

export default {
  name: 'hello',
  components: {
    vueSlider
  },
  data () {
    return {
      redValue: 0,
      greenValue: 0,
      blueValue: 0,
      sliderStyle: {
        value: 0,
        min: 0,
        max: 255,
        width: '100%',
        tooltip: 'hover'
      }
    }
  },
  computed: {
    luminance () {
      return (0.2126 * this.redValue + 0.7152 * this.greenValue + 0.0722 * this.blueValue)
    },
    textColor () {
      return this.luminance > 125 ? 0 : 1
    },
    text () {
      return this.textColor === 1 ? 'Dark' : 'Light'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 100px;

  padding-left: 30px;
  padding-right: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

.selector__item {
  height: 100%;
  margin-bottom: 40px;
}

.selector__item label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;
}

.selector__item input {
  padding: 20px;
  font-size: 1rem;
  border: 1px solid #131E3E;
}

.color-block {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-bottom: 20px;

}

.color-text {
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
}
</style>
